* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #F7F7F7; */
  background: #000000;
  color: white;
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Introduction {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  min-height: 100vh;
}
